.btn {
  border: none;
  padding: 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.btnSmall {
  border: none;
  padding: 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.btnBlue {
  background-color: #eaeffe;
  color: #4e71ff;
}

.btnWhite {
  background-color: #fff;
}

.btnGreen {
  background-color: #06c66c;
  color: white;
}

.btnGreenText {
  background-color: #dff6d9;
  color: #69c829;
}
