.stickyheader {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 1;

  &-title {
    font-size: 2rem;
    padding-top: 15px;
    margin: 5px;
  }

  &-subtitle {
    margin: 5px;
    padding-top: 15px;
    font-size: 1.5rem;
  }
}
